.timer {
  width:100%;
  height:100%;
  display:flex;
  justify-content: flex-end;;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  margin: 0;
  padding-right: 22px;
  box-sizing: border-box;

  &__text {
    font-size: 72px;
    margin-bottom: 15px;
    color: #f9f9f9;
    text-align: center;
    opacity: 1;
    transition: opacity .5s;
    &--top {
      position: absolute;
      top:0;
      left:0;
      display:block;
      font-size: 54px;
      transition: top 1s, left 1s, font-size 1s;
      z-index: 45;
    }
    &--transparent {
      opacity: 0;
    }
  }
  &__button {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
    border: 4px solid #f9f9f9;
    padding: 5px 40px;
    border-radius: 230px;
    transition:  background-color .3s, color .3s;
    &--pause {
      background-color: darken(#ff4d2e, 0%);

      color: #f9f9f9;
    }
    &--start {
      background-color: darken(#00981C, 0%);
      color:#f9f9f9;

    }
    &:hover {
      background-color: #f9f9f9;
      color: #303030;
      cursor: pointer;
    }
  }
}
